.widgetContainer {
  margin-top: 3.5rem;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background: rgba(255, 255, 255, 0.02);
  padding: 1.5rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .widgetContainer {
    margin-top: 2rem;
    padding: 0.8rem;
  }
}
